.item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 390px;
  font-size: 18px;
  color: #1f1e25;

  &::before {
    position: absolute;
    left: 220px;
    width: 40px;
    height: 16px;
    content: '';
    background-image: url('../../assets/images/icon-arrow.svg');
    background-repeat: no-repeat;
  }
}

.text {
    margin-right: 65px;
    margin-left: 40px;
}
