.promo {
	background-image: linear-gradient(#2c36f2, 2027b3);
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding-left: 268px;
	padding-top: 150px;
	justify-content: space-between;
}

.heading {
	font-weight: 700;
	font-size: 54px;
	color: #f6f7ff;
}

.slogan {
	font-size: 22px;
	color: #e0e1ea
}

.link {
	display: block;
	background-color: #f6f7ff;
	color: #1f1e25;
	min-width: 234px;
	min-height: 53px;
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
}