.promo {
	background-color: #2c36f2;
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 36.31%, #2027B3 99.79%);
    width: 150px;
    height: 400px;
    left: 0;
    bottom: 0;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027B3 99.79%);
    width: 298px;
    height: 400px;
    right: 0;
    bottom: 0;
  }
}

.wrapper {
  width: 1366px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
  min-height: 400px;
  padding: 101px 0 108px 268px;
	justify-content: left;
  align-items: flex-start;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(183.47deg, rgba(56, 65, 255, 0) 66.3%, #3841FF 97.14%);
    width: 150px;
    height: 269px;
    left: 150px;
    bottom: 0;
  }

  &::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(183.47deg, rgba(56, 65, 255, 0) 27.26%, #3841FF 97.14%);
    width: 270px;
    height: 269px;
    right: 298px;
    bottom: 0;
  }
}

.heading {
	font-weight: 700;
	font-size: 54px;
	color: #f6f7ff;
  margin: 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../../assets/images/credit-cards.png');
    width: 430px;
    height: 260px;
    left: 430px;
    top: -40px;
    z-index: 2;
  }
}

.slogan {
	font-size: 22px;
	color: #e0e1ea;
  margin-top: 10px;
  margin-bottom: 35px;
}

.link {
	display: block;
	background-color: #f6f7ff;
	color: #1f1e25;
	min-width: 234px;
	min-height: 53px;
	font-size: 18px;
	font-weight: 500;
	padding: 17px 35px 16px;
}
