.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 0 -4px;
  padding: 13px 0 0;
}

.item {
  transition: opacity 0.25s ease-out;

  &:hover {
    opacity: 0.5;
  }
}
