.converter {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 510px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 1366px;
  padding: 51px 98px;
}

.heading {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 41px;
  font-weight: 700;
  color: #1F1E25;
}

.form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 85px;

  &::before {
    position: absolute;
    top: 82px;
    left: 559px;
    width: 60px;
    height: 34px;
    content: '';
    background-image: url('../../assets/images/icon-double-arrow.svg');
    background-repeat: no-repeat;
  }
}

.text {
  margin-bottom: 26px;
  font-size: 22px;
  font-weight: 500;
}

.button_wrapper {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.btn {
  min-width: 382px;
  min-height: 60px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #f6f7ff;
  cursor: pointer;
  background-color: #2c36f2;
  border-radius: 4px;
  transition: opacity 0.25s ease-out;

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    background-color: #707c87;
  }
}
